:root{
    --main: #61fcf1;
    --main2: #61fcf17f;
    --secondary1:#72fff6ad;
    --secondary2:#7ED6FF ;
    --secondary3:#45A29E ;
    --background1:#0b0c10;
    --background2:#0b0c1067;
    --color1:#252629;
    --color2:#c5c6c7;
}